@using System.Globalization
@using App.Models
@using System.Collections
@model App.Models.Box
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ISession session = HttpContextAccessor.HttpContext.Session;
    var user = @session.GetString("UserName");
    var userId = @session.GetInt32("UserId");
    var userRole = @session.GetString("UserRole");
    if (userRole == null)
    {
        userRole = "";
    }
    var request = HttpContextAccessor.HttpContext.Request;
    var fullUrl = $"{request.Scheme}://{request.Host}";

}
@{
    ViewData["Title"] = "Details";
    List<App.Models.File> listFile = ViewBag.listFile as List<App.Models.File>;
    List<Comment> comment = ViewBag.listComment as List<App.Models.Comment>;
    int userNow = -1;
    if (ViewBag.account != null)
    {
        Account account = ViewBag.account as Account;
        userNow = account.id;
    }

}


<div>
    <h3>@Model.Title</h3>
    <h4>@Model.DateCreated</h4>
    <img height="50" src="/upload/avt/avtuser.jpg" alt="">

    <a asp-area="Box" asp-controller="User" asp-action="Detail" asp-route-id="@userNow"><i>@Model.Account.Name</i></a>
    <br>
    <i>View: @Model.View</i>
    <div class="d-flex align-items-center ms-2 " style="font-size: 30px; color:#8d969f ;">
        <p class="up-down  m-0 up  @Model.id" id="up">
            <a>
                <i class="fa-solid fa-caret-up"></i>
            </a>

        </p>
        <p class="m-0 score text-center @Model.id "
            style="line-height: 0; font-size: 20px; font-weight: bold; padding: 0 5px;color: #212529" id="@Model.id">

        </p>
        <p id="vote">
            @ViewBag.vote
        </p>
        <p class="up-down m-0 down  @Model.id" id="down">
            <a>
                <i class="fa-solid fa-caret-up fa-rotate-180"></i>
            </a>
        </p>
    </div>
    <br>
    <p>
        <a class="btn btn-primary collapsed" data-bs-toggle="collapse" href="#collapseExample" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            Chia sẻ
        </a>
    </p>
    <div class="collapse" id="collapseExample" style="">
        <button class="share-full">Chia se day du noi dung</button>
        <p class=" share-full-link">@fullUrl/ @Url.Action("Details","Box",new {id = Model.id})</p>
        <button>Chia se phien ban rut gon</button>
        <p class=" share-full-link">@fullUrl@Url.Action("ShortLink","Box",new {id = Model.id})</p>
    </div>
    <br>
    @if (userRole.Contains("Admin") || userNow == Model.UserId)
    {
        <a class="btn btn-warning" asp-area="Box" asp-controller="Box" asp-action="Edit" asp-route-id="@Model.id">Chinh sua
            Box</a>
    }
    <hr />
    <dl class="row">
        <img src="/upload/@Model.Url/@Model.Img" alt="">
        @Html.Raw(Model.Content)
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pass)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pass)
            </dd>
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareCode)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareCode)
            </dd>
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
            </dd>
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublic)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublic)
            </dd>
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.username)
            </dd> *@
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Size
            </th>
            <th>Views</th>

            <th>Dowload</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var item in listFile)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DatePost</td>
                <td>@item.Size</td>
                <td>@item.View</td>
                <td>
                    <a asp-area="Box" asp-controller="Box" asp-action="Download" asp-route-filename="@item.Name"
                    asp-route-id="@Model.id">
                        <i class="fa-solid fa-circle-down"></i>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
<a class="btn btn-primary" asp-controller="box" asp-action="DowloadAll" asp-route-id="@Model.id"
    asp-route-url="@Model.Url"> Tải toàn bộ</a>
<hr>
<br>
<h5>Danh sách commet</h5>
<div class="">
    <form asp-action="CreateComment" asp-route-boxId="@Model.id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <textarea name="Content" class="form-control" id="comment"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" value="Bình luận" class="btn btn-primary   rounded-4 " />
        </div>
    </form>
</div>
<br>

<div class="">
    @foreach (var item in comment)
    {
        <div class="d-flex ">
            <div class="flex-shrink-0 d-flex align-items-center flex-column  comment-img">
                <img height="50" src="/upload/avt/@item.Account.Img" alt="...">
                @Html.Partial("_CommentAction",new ArrayList(){Model.id,item.Id, item.AccountId,userNow})
            </div>
            <div class="flex-grow-1 ms-3 detail-comment">
                <a asp-area="Box" asp-controller="User" asp-action="Detail" asp-route-id="@item.AccountId">
                    <h6>@item.Account.Name</h6>
                </a>
                <p>
                    @Html.Raw(@item.Content)
                </p>
            </div>
        </div>
    }
</div>




<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index" asp-route-userAccess="@Model.UserId"> Back to List</a>

</div>
@{
    var SummerNote = new App.Models.Summernote("comment", true);

}
<partial name="_Summernote" model="SummerNote" />
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(".up").click(function (e) {
            var idpost = @Model.id
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("VoteChange","Box")",
                    data: { "boxId": idpost, "act": 1 },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        checkVoteStatus(data.act)
                        $("#" + "vote").text("" + data.kq)
                    }, error: function () {
                        alert("Hãy đăng nhập")
                    }
                })
        })
        $(".down").click(function (e) {

            var idpost = @Model.id
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("VoteChange","Box")",
                    data: { "boxId": idpost, "act": -1 },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        checkVoteStatus(data.act)
                        $("#" + "vote").text("" + data.kq)
                    }, error: function () {
                        alert("Hãy đăng nhập")
                    }
                })
        })
        function checkVoteStatus(act) {
            if (act == 1) {
                $("#up").attr('style', 'color: #0d6efd !important');
                $("#down").attr('style', 'color: #8d969f !important')
            }
            if (act == -1) {
                $("#up").attr('style', 'color: #8d969f !important')
                $("#down").attr('style', 'color: #0d6efd !important');
            }
            if (act == 0) {
                $("#up").attr('style', 'color: #8d969f !important')
                $("#down").attr('style', 'color: #8d969f !important')
            }
        }
        if (@ViewBag.voteStatus == 1) {
            $("#up").attr('style', 'color: #0d6efd !important');
        }
        if (@ViewBag.voteStatus == -1) {
            $("#down").attr('style', 'color: #0d6efd !important');
        }
    });  
</script>